body {
    font-family: sans-serif;
    margin-top: 60px;
    background-color: #9932CC;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #480303;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
